<mat-card>
  <mat-card-header>
    <ng-container *ngIf="attraction | async as attractionData">
      <mat-card-title>Attraction<strong> {{ attractionData.nom }}</strong></mat-card-title>
    </ng-container>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span>Nom</span>
        <span>Prenom</span>
        <span>Note / 5</span>
        <span>Commentaire</span>
      </div>
    </div>

    <ng-container *ngFor="let critique of critiques | async;">
      <div class="attraction">
        <span>{{critique.nom}}</span>
        <span>{{critique.prenom}}</span>
        <span>{{critique.note}} / 5</span>
        <span>{{critique.texte}}</span>
      </div>
    </ng-container>

    <button mat-button (click)="addCritique()">Ajouter une critique</button>

    <div class="attraction-title">
      <div class="attraction">
        <span>Nom</span>
        <span>Prenom</span>
        <span>Note / 5</span>
        <span>Commentaire</span>
      </div>
    </div>
    <ng-container *ngFor="let critiqueForm of formulaireCritiques;">
      <form [formGroup]="critiqueForm" (ngSubmit)="onSubmit(critiqueForm)">
        <label>
          Nom:
          <input formControlName="nom" type="text">
        </label>
        <label>
          Prenom:
          <input formControlName="prenom" type="text">
        </label>
        <label>
          Note:
          <input formControlName="note" type="number" min="0" max="5">
        </label>
        <label>
          Commentaire:
          <textarea formControlName="texte"></textarea>
        </label>
        <button type="submit">Envoyer</button>
      </form>
    </ng-container>

  </mat-card-content>
</mat-card>

